// General Colors - Grayscale color definitions
$gray-0: #fff; // White
$gray-100: #000; // Black
$gray-70: #5a607f; // Dark Gray
$gray-50: #a1a7c4; // Medium Gray
$gray-40: #d7dbec; // Light Gray

// Primary Colors - Blue color definitions
$blue-100: #1e5eff;

// General Typography
$title-font-family: 'Gilroy', sans-serif;
$font-family: 'Inter', sans-serif;